body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #36292f;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #428675;
}

img {
  display: block;
}

.sh-hr {
  border-bottom: solid 1px rgba(66, 134, 117, 0.1);
}
